@model SistemaGestaoMedica.Models.Paciente

<h2>Cadastrar Paciente</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CPF"></label>
        <input asp-for="CPF" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DataNascimento"></label>
        <input asp-for="DataNascimento" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Telefone"></label>
        <input asp-for="Telefone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Endereco"></label>
        <input asp-for="Endereco" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cidade"></label>
        <input asp-for="Cidade" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Estado"></label>
        <input asp-for="Estado" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>
